/* You can add global styles to this file, and also import other style files */

/* flecha */
body{
  background: #2c3e50;
}
div svg {
    width: 100px;
    height: auto;
    margin: 0 2rem;
    cursor: pointer;
    overflow: visible;
  }
  div svg polygon, div svg path {
    transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
  }
  div svg:hover polygon, div svg:hover path {
    transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #ff4136;
  }
  div svg:hover .arrow {
    animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
  }
  div svg:hover .arrow-fixed {
    animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
  }
  @keyframes arrow-anim {
    0% {
      opacity: 1;
      transform: translateX(0);
   }
    5% {
      transform: translateX(-0.1rem);
   }
    100% {
      transform: translateX(1rem);
      opacity: 0;
   }
  }
  @keyframes arrow-fixed-anim {
    5% {
      opacity: 0;
   }
    20% {
      opacity: 0.4;
   }
    100% {
      opacity: 1;
   }
  }
.blanco{
  color: white;
}

/* chat global */
#chatbox_ret_cont{
  z-index: 10000;
  background-color: transparent;
  position: fixed;
  bottom: 0;
 }
 #chatbox_ret_cont.chatbox_derecha{
  right: 0;
 }
 #chatbox_ret_cont.chatbox_izquierda{
  left: 0;
 }
 #chatbox_ret_cont div{
  cursor: pointer;
 }
 #chatbox_ret_cont iframe#chatbox_ret{
  background-color: #2c3e50;
  border: 2px solid grey;
  display: none;
  height: 450px;
  margin-bottom: 0;
  width: 900px;
 }

.fixedR{
  position: fixed;
  right: 0px;
}