.body{
    float:left;
}

.lateral{
    float: right;
    width: 16%;
    height: 100vh;
    background: #181728;
    font-size: 1em;
    text-align: center;
}

.lateral a{
    text-decoration: none;
    color: black;
    width: 100%;
    padding-left: 5px;
}

.cat a{
    color: #fff;
}

.cag {
    margin-bottom: 1px;
    border-color: #1496aa;
    color: #fff;
    box-shadow: 0 0 40px 40px #1496aa inset, 0 0 0 0 #1496aa;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .cag:hover {
    box-shadow: 0 0 10px 0 #1496aa inset, 0 0 10px 4px #1496aa;
  }

.info{
    background: #181728;
    float: right;
    padding: 10px;
    color: #fff;
    box-shadow: 0 0 10px 0 #1496aa inset, 0 0 10px 4px #1496aa;
    border-radius: 15px;
    position: absolute;
    left: 200px;
    top: 10px;
}

td h1{
    text-align: center;
    color: white;
}

.carta{
    width: 300px;
    border-radius: 5px;
    text-align: center;
}
.obtenida{
    filter: grayscale(100%);
    opacity: 0.5;
    cursor: not-allowed;
}
.comun{
    background: linear-gradient(to right, #777777,#acacac );
}
.raro{
    background: linear-gradient(to right, #105ba0,#3f6fad );
}
.epica{
    background:linear-gradient(to right,rgb(97, 17, 97),rgb(163, 51, 163));
}

ul{
    padding:0%;
    padding-bottom: 10px;
}
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
}

div.row{
    margin: 0%;
    padding: 0%;
}
