<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="http://localhost:3700/api/get-image-ico/Stramers.png" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">

                  <div *ngIf="this.edituser;else editpass">
                    <form #form='ngForm' (ngSubmit)="onSubmit(form)" >
                      <h2 class="sr-only">Editar User</h2>

                      <label for="nick">Nick:</label>
                      <input class="form-control" type="text" id="nick" name="nick" [(ngModel)]="iniciUsuari.nick" placeholder="{{ nick }}" required/><br>

                      <label for="email">Email:</label>
                      <input class="form-control" type="email" name="email" placeholder="{{ email }}"  [(ngModel)]="iniciUsuari.email" [email]="true" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" /><br>

                      <hr>

                      <label for="pasw">Confirm Password:</label>
                      <input class="form-control" type="password" name="pasw"  [(ngModel)]="iniciUsuari.pasw" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$" /><br>

                      <input class="btn btn-primary btn-block" type="submit" value="Editar">
                      <a href="/menu" class="btn btn-primary btn-block" type="submit">Cancelar</a>
                    </form>
                    <button class="btn" (click)="change()">Cambiar password</button>
                  </div>

                  <ng-template #editpass>
                    <form #form='ngForm' (ngSubmit)="onSubmit(form)">
                      <label for="pasw">Password Antiguo:</label>
                      <input class="form-control" type="password" name="pasw"  [(ngModel)]="changepass.pasw" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$" /><br>

                      <hr>

                      <label for="pasw">Password Nuevo:</label>
                      <input class="form-control" type="password" name="pasw1"  [(ngModel)]="changepass.paswN" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$" /><br>

                      <label for="pasw">Confirm Password:</label>
                      <input class="form-control" type="password" name="pasw2" [(ngModel)]="changepass.paswC" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$" /><br>

                      <input class="btn btn-primary btn-block" type="submit" value="Editar" [disabled]="!form.form.valid">
                      <a href="/menu" class="btn btn-primary btn-block" type="submit">Cancelar</a>
                    </form>
                    <button class="btn" (click)="change()">Editar user</button>
                  </ng-template>

                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
