.row > div{
    /*background: #f2f2f2;*/
    padding: 30px;
    /*border: 1px solid grey;*/
  }

button{
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  }
.mazo{
  margin-left: 10px;
  width: 200px;
  height: 300px;
  text-align: center;
  color: #fff;
}

.mazo > img {
  margin-left: -10px;
  margin-top: -30px;
  z-index: 0;
}

a{
  text-decoration: none;
}
/*
.l-bg-orange-dark {
  background-image: url();
  background: linear-gradient(to right, #a86008, #ffba56) !important;
  color: #fff;
  border: none;
  border-radius: 10px;
}*/

.l-bg-cherry {
  background: linear-gradient(to right, #493240, #f09) !important;
  color: #fff;
  border: none;
  border-radius: 10px;
  height: 250px;
}
.mazos{
  padding: 20px;

}
span{
  width:100px;
  position: absolute;
  margin-left: 60px;
}
