<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <a href="" > <img src="{{url}}get-image-ico/Stramers.png" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" /></a>
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                    <form #form='ngForm' (ngSubmit)="onSubmit(form)" >
                        <h2 class="sr-only">Login Stramers</h2>

                        <label for="email">Email:</label>
                        <input class="form-control" type="email" name="email"  [(ngModel)]="iniciUsuari.email" required [email]="true" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" /><br>

                        <label for="pasw">Password:</label>
                        <input class="form-control" type="password" name="pasw"  [(ngModel)]="iniciUsuari.pasw" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$" /><br>

                        <input class="btn btn-primary btn-block" type="submit" value="Login" [disabled]="!form.form.valid" ><br>
                        <div  [ngStyle]="{'display': error_status}" class="alert alert-success" role="alert">
                          {{alert}}
                          <a type="button" class="closebtn" (click)="tanca()">
                            <span aria-hidden="true">&times;</span>
                          </a>
                          </div>
                        <p href="#" class="forgot">¿Eres nuevo en Stramers?<a [routerLink]="['/register']" class="link" >Register</a></p>

                    </form>

                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
