<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div> 
          <a href=""> <img src="http://localhost:3700/api/get-image-ico/Stramers.png" style="width:70px"> </a> 
        </div>
        
        <div class="d-flex w-auto">
          <div *ngIf="nick==null else elseblock" >
            <a class="nav-link m-2 login" href="login">Login</a>
            <a class="nav-link m-2 regis" href="register">Juega ahora</a>    
          </div> 
          <ng-template #elseblock>
            <div>
              <a class="nav-link m-2 login" href="menu">Login</a>
            </div>
          </ng-template>
        </div>
    </div>
  </nav>