.menu{
  height: 100vh;
  width: 100vh;
}
nav {
    background-color: #2c3e50;
  }
  /* centra el menu */
  ul {
    margin: 0;
    padding: 0;
    font-size: 0;

    position: relative;
    z-index: 1;
    text-align: center;
  }
  /* coloca el menu horizental */
  ul li {
    display: inline-block;
    vertical-align: top;
  }
  /* menu */
  ul li a {
    text-decoration: none;
    font-size: 46px;
    display: block;
    line-height: 100vh;
    padding: 0 35px;
    text-transform: uppercase;
    letter-spacing: 5%;
    position: relative;
    font-weight: 100%;
    color: #fff;
    font-family: 'Open Sans';
  }
  /* hover active */
  ul li a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3498db;
    z-index: -1;
    transform: skewX(-30deg);
    opacity: 0;
    transition: opacity 0.3s;
  }

  ul li:hover a,
  ul li:focus a,
  ul li.mazo a {
    color: #fff;
  }
  ul li:hover a:after,
  ul li:focus a:after,
  ul li.mazo a:after {
    opacity: 1;
  }
  
.conf{
  float: left;
  width: 100px;
  height: 100px;
  font-size: 46px;
  text-decoration: none;
  color: #fff;

}
  /* tiene una barra diagonal
  https://codepen.io/dibuchis/pen/aWzdew?editors=1100 */


/* ---------------------------------- Style The Dropdown Button --------------------------- */
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 100px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #f9f9f9; */
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {background-color: #f1f1f1} */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */