.body{
    float:left;
}

.lateral{
    float: right;
    width: 25%;
    height: 100vh;
    font-size: 1em;
    padding-top: 1px;
    padding-left: 2px;
}

.select{
    width: 300px;
    height: 500px;
    border: solid 1px;
    border-radius: 5%;
}

.ribbon {
    width: 0px;
    height: 120px;
    border-left: 50px solid #d9534f;
    border-right: 50px solid #d9534f;
    border-bottom: 35px solid transparent;
}

.ribbon p{
    padding-top: 30px;
    margin-left: -25px;
}

/* botton play game */
@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  margin-top: 5px;
}

.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    background: #6225E6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

  span {
    transform: skewX(15deg) 
  }

  span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}

.mazo{
    /* margin-left: 10px; */
    width: 200px;
    height: 300px;
    border: 1px solid;
    text-align: center;
    /* padding-top: 30px; */
    color: black;
  }


/*  */

.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09);
    color: #fff;
    border: none;
    border-radius: 10px;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4);
    color: #fff;
    border: none;
    border-radius: 10px;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d);
    color: #fff;
    border: none;
    border-radius: 10px;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56);
    color: #fff;
    border: none;
    border-radius: 10px;
    user-select: none;

}

.select h3{
    color:#373b44 ;
    text-align: center;
    padding-top: 5%;
}

@media (max-width: 1470px) {
    .mazoMedia {
        width: 75%;
    }
}

@media (max-width: 800px) {
    .mazoMedia {
        width: 20%;
    }
}

@media (max-width: 580px) {
    .mazoMedia {
        position: absolute;
        top: 65%;
        width: 20%;
    }
    .selectMedia{
        top:5%;
    }
}



